# DS-GA 1001 Project
## Scale and Split

This script splits whole training sample and apply standard scale for Project
***

In [0]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
# folder_name = 'Part1_Data'
# data_name = 'Part1_Data'
folder_name = 'Part2_Win6_Data'
data_name = 'Part2_Win6'

In [0]:
data = pd.read_csv(f"drive/My Drive/1001 Project/{folder_name}/{data_name}.csv")

In [5]:
data['default'].value_counts()

0    41094
1     7350
Name: default, dtype: int64

In [0]:
# Only for data in Part 2
data = data.iloc[:, 1:]

In [7]:
data.head()

     id  mat_time  ...  count_zero_payment  count_low_payment
0  7776       116  ...                   0                  0
1  7777       117  ...                   0                  0
2  7778       117  ...                   0                  0
3  7779       117  ...                   0                  0
4  7780       117  ...                   1                  0

[5 rows x 27 columns]

In [0]:
# from pandas_profiling import ProfileReport
# ProfileReport(data)

In [0]:
# data.drop(columns=['payoff_time', 'status_time'], inplace=True) # part1
data.drop(columns=['payoff', 'status'], inplace=True) # part 2

In [10]:
data.head()

     id  mat_time  ...  count_zero_payment  count_low_payment
0  7776       116  ...                   0                  0
1  7777       117  ...                   0                  0
2  7778       117  ...                   0                  0
3  7779       117  ...                   0                  0
4  7780       117  ...                   1                  0

[5 rows x 25 columns]

In [0]:
# data = data.rename(columns={'default_time': "default"}) # part 1

In [0]:
num_cols = []
bool_cols = []
for col in data.columns:
    if len(data[col].unique()) == 2:
        bool_cols.append(col)
    else:
        if col !='id':
          num_cols.append(col)

In [0]:
train, validate, test = np.split(data.sample(frac=1, random_state=1211), [int(.7*len(data)), int(.9*len(data))])

In [0]:
train.reset_index(inplace=True)
validate.reset_index(inplace=True)
test.reset_index(inplace=True)

In [0]:
train = train[['id']+num_cols+bool_cols]
validate = validate[['id']+num_cols+bool_cols]
test = test[['id']+num_cols+bool_cols]

In [0]:
train.to_csv(f'drive/My Drive/1001 Project/{folder_name}/{data_name}_train.csv', index=False)

In [0]:
validate.to_csv(f'drive/My Drive/1001 Project/{folder_name}/{data_name}_val.csv', index=False)

In [0]:
test.to_csv(f'drive/My Drive/1001 Project/{folder_name}/{data_name}_test.csv', index=False)

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train[num_cols])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [0]:
train_scale = pd.DataFrame(scaler.transform(train[num_cols]), columns=num_cols)
train_scale[bool_cols] = train[bool_cols]
train_scale['id'] = train['id']
train_scale = train_scale[['id']+num_cols+bool_cols]

In [0]:
val_scale = pd.DataFrame(scaler.transform(validate[num_cols]), columns=num_cols)
val_scale[bool_cols] = validate[bool_cols]
val_scale['id'] = validate['id']
val_scale = val_scale[['id']+num_cols+bool_cols]

In [0]:
test_scale = pd.DataFrame(scaler.transform(test[num_cols]), columns=num_cols)
test_scale[bool_cols] = test[bool_cols]
test_scale['id'] = test['id']
test_scale = test_scale[['id']+num_cols+bool_cols]

In [0]:
train_scale.to_csv(f'drive/My Drive/1001 Project/{folder_name}/{data_name}_train_scale.csv', index=False)

In [0]:
val_scale.to_csv(f'drive/My Drive/1001 Project/{folder_name}/{data_name}_val_scale.csv', index=False)

In [0]:
test_scale.to_csv(f'drive/My Drive/1001 Project/{folder_name}/{data_name}_test_scale.csv', index=False)

In [26]:
train_scale['default'].value_counts()

0    28739
1     5171
Name: default, dtype: int64